html {
  height: 100%;
}

body {
  background: url(crossword.png);
  height: 100%;
}

#title {
  text-align: center;
}

.info-text {
  display: inline-block;
  text-align: center;
  padding-top: 100px;
  width: 70%;
}

#logo {
  width: 10%;
  height: 10%;
}

#secret {
  font-size: 2px;
  padding: 300% 0 0 0;
  text-align: center;
}

#sb_chat {
  position: fixed;
  right: 0;
  top: 0;
  width: 25%;
  height: 100%;
}

#sb_widget {
  right: 25% !important;
}